<p><%= link_to 'Upload', upload_url %> a torrent file</p>
<% @torrent_files.each do |f| %>
    <p><%= link_to 'magnet', magnet_uri_for(f.torrent) %> <%= link_to 'torrent', download_url(:id => f.id) %> <%= f.name %>, size: <%= number_to_human_size(f.size, :prefix => :si, :precision => 2, :significant => false) %>, files: <%= f.files_count %>, seeders: <%= f.torrent.seeders.count %>, leechers: <%= f.torrent.leechers.count %></p>
<% end %>
