<% if flash[:error] %>
    <p><%= flash[:error] %></p>
<% end %>
<p><%= link_to 'Upload', upload_url %> a torrent file</p>
<% @torrent_files.each do |f| %>
    <p><%= link_to f.name, download_url(:id => f.id) %>, size: <%= number_to_human_size(f.size, :prefix => :si, :precision => 1, :significant => false) %>, files: <%= f.files_count %>, seeders: <%= f.torrent.seeders.count %>, leechers: <%= f.torrent.leechers.count %></p>
<% end %>
