<!DOCTYPE html>
<html>
<head>
  <title>Bttracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="red_bg">
    <div id="logo">
        <h1>HOBtt</h1>
    </div>
</header>

<div id="main_container">
    <section id="main">
        <% if flash[:alert] %>
            <p><%= flash[:alert] %></p>
        <% elsif flash[:notice] %>
            <p><%= flash[:notice] %></p>
        <% end %>

        <%= yield %>
    </section>
</div>

<div id="footer_container" class="red_bg">
    <footer>
        <p class="monospace">
        :coded_by => <%= link_to 'mrLite', 'http://aq.nerds.fi/' %>, 
        :with => <%= link_to 'coffee', 'http://en.wikipedia.org/wiki/Coffee' %>, 
        :sauce => <%= link_to 'github', 'http://github.com/mrLite/HOBtt' %>
        </p>
    </footer>
</div>
</body>
</html>
